{% extends "main_base.html" %}
{% load static %}
{% block main_content %}
<div class="container">
    <div class="row" style="margin-top: 10%; margin-bottom: 10%">
        <div class="col-md-6">
            <h1>New Daily Entry</h1>
            <form action="{% url 'daily_entry_add' %}" method="post" class="inline-form">
                {% csrf_token %}
                {{ daily_entry_form }}
                <br>
                <br>
                {{ thankful_for_form_set.management_form }}
                {% for thankful_for_form in thankful_for_form_set %}
                    <div class="thankful-for-form-set">
                        <h3>Something I'm Thankful For</h3>
                        <div class="form-group">
                            {{ thankful_for_form.title.label_tag }}
                            {{ thankful_for_form.title }}
                        </div>
                        <div class="form-group">
                            {{ thankful_for_form.description.label_tag }}
                            {{ thankful_for_form.description }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                <br>
                {{ looking_forward_form_set.management_form }}
                {% for looking_forward_form in looking_forward_form_set %}
                    <div class="looking-forward-form-set">
                        <h3>Something I'm Looking Forward To</h3>
                        <div class="form-group">
                            {{ looking_forward_form.title.label_tag }}
                            {{ looking_forward_form.title }}
                        </div>
                        <div class="form-group">
                            {{ looking_forward_form.description.label_tag}}
                            {{ looking_forward_form.description }} 
                        </div>
                    </div>
                {% endfor %}
                <br>
                <br>
                {{ task_form_set.management_form }}
                {% for task_form in task_form_set %}
                    <div class="task-form-set">
                        <h3>New Task</h3>
                        <div class="form-group">
                            {{ task_form.title.label_tag }}
                            {{ task_form.title }}
                        </div>
                        <div class="form-group">
                            {{ task_form.start_time.label_tag }}
                            {{ task_form.start_time }}
                        </div>
                        <div class="form-group">
                            {{ task_form.end_time.label_tag }}
                            {{ task_form.end_time }}
                        </div>
                        <div class="form-group">
                            {{ task_form.description.label_tag }}
                            {{ task_form.description }}
                        </div>
                        <div class="form-group">
                            {{ task_form.is_complete.label_tag }}
                            {{ task_form.is_complete }}
                        </div>
                    </div>
                {% endfor %}
                <br>
                <br>
                <span class="form-group">
                    <input type="submit" value="Add Entry" class="btn btn-primary"/>
                    <a href="{% url 'daily_list' %}" class="btn btn-danger">Cancel</a>
                </span>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block specific_scripts %}
<!-- Add in our scripts to handle the dynamic formsetting -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery_formset.js' %}"></script>
<script>
    $('.thankful-for-form-set').formset({
        addText: "Add an item I'm thankful for",
        deleteText: "Remove",
        prefix: 'thankful_fors'
    });
    
    $('.looking-forward-form-set').formset({
        addText: "Add something I'm looking forward to",
        deleteText: "Remove",
        prefix: 'looking_forward_tos'
    });

    $('.task-form-set').formset({
        addText: 'Add task',
        deleteText: 'Remove',
        prefix: 'tasks'
    });
</script>
{% endblock %}

