{% extends "notebook/dailysection.html" %}
{% block content %}
    {% if has_access_to_entry %}
        <h1>{{ dailyentry.entry_date }}</h1>
        {% if dailyentry.task_set %}
            <ul>
            {% for task in dailyentry.task_set.all %}
                <li>
                    {{ task.title }}
                </li>
                <li>{{ task.description }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h1>Oops! Looks like something went wrong...</h1>
        <h3>We can't display this page as it doesn't belong to you.  If you think this is an error, be sure to send us an email!</h3>
    {% endif %}
{% endblock %}