{% extends 'main_base.html' %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 10%">
            <h1>Woohoo!</h1>
            <p>
                If you entered the correct address associated with
                your account, you should have an email on its
                way to you as you read this.  Follow the instructions
                and you'll have access again in no time!
            </p>
            <br>
            <a href="/" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}