{% extends "main_base.html" %}

{% block main_content %}
<div class="container">
    <div class="row" style="margin-top: 10%">
        <div class="col-md-6">
            {% if validlink %}
                <h1>Password Reset Confirmation</h1>
                <h3>Please enter and confirm your new password.</h3>
                <form action="" method="post" class="inline-form">
                    {% csrf_token %}
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1">New password:</label>
                        <input type="password" name="new_password1" id="id_new_password1" required="" class="form-control">
                        <label for="id_new_password2">Confirm password:</label></td>
                        <input type="password" name="new_password2" id="id_new_password2" required="" class="form-control">
                        <br>
                        <input type="submit" value="Change Password" class="btn btn-primary"/>
                    </div>
                </form>
            {% else %}
                <h1>Hmmm... That Doesn't Seem Right</h1>
                <p>Well we hate to say it, but the password reset link was invalid, possibly because it has already been used. Try another password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}