{% extends 'main_base.html' %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 10%">
            <h1>Forgot your password?</h1>
            <p>No problem!  We'll send over an email to the address you 
                gave us when you signed up.  From there, you'll be able
                to set a new password for your account and sign in
                as usual.
            </p>
            <form method="POST" class="inline-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" required="" id="id_email" maxlength="254" class="form-control">
                    <br>
                    <input type="submit" value="Send Email" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
