{% extends 'main_base.html' %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 10%">
            <h1>Congratulations!</h1>
            <p>
                This is probably a fairly common event,
                but we're excited about it anyways!  If you're
                reading this, it means your password was successfully
                reset.  You can head back to the login page and
                proceed with your new credentials.
            </p>
            <br>
            <a href="/" class="btn btn-primary">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}