<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Plannr</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
  <!-- Add any additional CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/boostrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}'"></script>
</head>
    {% block content %}
    <!-- where the magic happens -->
    {% endblock %}
<body>

</body>
</html>
