{% extends "base_notebook.html" %}

{% block content %}
<h1>Hi! Welcome back to Plannr --
    your own personal notebook service.</h1>
<br>
<p>Check out the tabs on the left to navigate through the different pages of
    the site, or to check out some more information about us.  If you have any questions,
    please feel free to reach out to me at <a href="mailto:mfreema1@stevens.edu">my email address</a> or
    check out the source code of this application at its <a href="https://github.com/mfreema1/ssw-215/tree/master/project/plannr">GitHub repository.</a>
</p>
<br>
<p>Thanks again for using Plannr!</p>
{% endblock %}

{% block button %}{% endblock %}